In [275]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline
from IPython.display import HTML

In [281]:
c="""123,456,789,123,456,789"""
a=""
b="koku,suu,rika"

In [290]:
a2=a.split(',')
b2=b.split(",")
a3,b3=[],[]
for aa in a2:
    if a.strip()=="":
        break
    else:
        a3.append(aa)

for bb in b2:
    b3.append(bb) 
f=[] 

d=c.strip().split(",") 
for i in d:
    f.append(i)
print(len(a3))    
f=np.array(f)

0

In [291]:
a3_size=len(a3)
b3_size=len(b3)
print(int(f.size/b3_size))
if b3_size>1:
    f=np.array(f).reshape(int(f.size/b3_size),b3_size)     
else:
    f=np.array(f)

2

In [292]:
if a3_size<1:
    c2=pd.DataFrame(f,columns=b3,index=None)
else:
    c2=pd.DataFrame(f,columns=b3,index=a3)

In [293]:
c2

  koku  suu rika
0  123  456  789
1  123  456  789

In [286]:

ANS=HTML(c2.to_html(classes='table table-striped'))
ANS

In [142]:
c2.to_excel('templates/excelfolder/to_csv.xlsx')